#about {
  display: flex;
  font-family: 'Roboto', sans-serif;


  .about-section {
    display: flex;
    justify-content: center;
  }

  .profile-picture {
    width: 40%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }

  .about-description {
    font-size: 16px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin: 30px;
    padding: 20px;
  }


}