#about {
  display: flex;
  font-family: 'Poppins', sans-serif;
  // height: 80vh;
  // margin-bottom: 20px;

  .about-header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #f1d5b8;
    text-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  .profile-pic {
    width: 20%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }

  .about-description {
    font-size: 16px;
    // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    // border-radius: 4px;
    margin: 30px;
    padding: 20px;
  }

  .about-hobby {
    text-decoration: underline wavy #f1d5b8;
  }
}