#about {
  display: flex;
  font-family: 'Poppins', sans-serif;
  // height: 80vh;
  // margin-bottom: 20px;

  .about-header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #224B24;

  }

  // .about-hobby {
  //   display: inline-block;
  //   border-radius: 50%;
  //   border: 2px solid #224B24;
  //   padding: 4px 8px;
  // }

  // .profile-pic {
  //   width: 20%;
  //   display: block;
  //   margin: 0 auto;
  //   margin-top: 20px;
  // }

  .about-description {
    font-size: 16px;
    padding: 20px;
  }

}