#home {
  display: flex;
  height: 90vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #DBE4C6;
  font-family: 'Roboto', sans-serif;

  .icon {
    font-size: 100px;
  }

  .laptop {
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .hello {
    font-size: 35px;
    font-weight: 500;
  }

  .name {
    font-size: 50px;
  }

  .description {
    font-size: 20px;
  }
}

.Typewriter__wrapper {
  font-size: 25px;
}

.Typewriter__cursor {
  font-size: 25px;
}