#home {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;

  .home_hello {
    font-size: 35px;
    font-weight: 500;
  }

  .home_name {
    font-size: 45px;
    color: #216c60;
  }

  .description {
    font-size: 20px;
  }

  .home_image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
    order: 1;
    justify-self: center;
    width: 400px;
    height: 400px;
    animation: profile__animate 8s ease-in-out infinite 1s;
  }

}

@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.Typewriter__wrapper {
  font-size: 25px;
}

.Typewriter__cursor {
  font-size: 25px;
}