#skills {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;

  .skills-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #f1d5b8;
  }

  .skills-title {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  .skills-card {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
}