@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
#about {
  display: flex;
  font-family: "Poppins", sans-serif;
}
#about .about-header {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: #f1d5b8;
  text-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
#about .profile-pic {
  width: 20%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
#about .about-description {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 30px;
  padding: 20px;
}
#about .about-hobby {
  -webkit-text-decoration: underline wavy #f1d5b8;
          text-decoration: underline wavy #f1d5b8;
}

#skills {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}
#skills .skills-header {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  color: #f1d5b8;
}
#skills .skills-title {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
#skills .skills-card {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
#skills ul {
  list-style-type: none;
  padding: 10px;
}
#skills .skills-icon {
  color: #f1d5b8;
  width: 20px;
}

#contact {
  display: flex;
  font-family: "Poppins", sans-serif;
}
#contact .contact-header {
  display: flex;
  justify-content: center;
  margin: 20px 20px;
  color: #f1d5b8;
}
#contact .contact-email {
  margin-top: 20px;
  color: #f1d5b8;
  border: 2px solid #f1d5b8;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 10px 20px;
  width: 200px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
}
#contact .contact-button {
  display: flex;
  justify-content: flex-start;
  padding-left: 0px;
  margin-bottom: 20px;
}

#home {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
#home .home_hello {
  font-size: 25px;
  font-weight: 400;
}
#home .home_name {
  font-size: 45px;
  color: #f1d5b8;
}
#home .home_card_body {
  margin-bottom: 20px;
}
#home .home_image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  margin-top: 15px;
  margin: 0 auto;
  box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.3);
  order: 1;
  justify-self: center;
  width: 250px;
  height: 250px;
  animation: profile__animate 8s ease-in-out infinite 1s;
}
@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.Typewriter__wrapper {
  font-size: 20px;
}

.Typewriter__cursor {
  font-size: 20px;
}

img {
  display: inline-block;
  width: 35px;
}

#projects {
  display: flex;
  font-family: "Poppins", sans-serif;
}
#projects .projects-header {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #f1d5b8;
}
#projects .projects-card {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.site-wrapper {
  background-color: #fafafa;
}/*# sourceMappingURL=main.css.map */